html, * {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  width: 100%;
}
main {
  position: relative;
  z-index: -1;
  top: 3.65rem;
}
@media screen and (max-width: 580px) {
  main {
  top: 3rem;
  }
}

/* Header */
header {
  background-color: white;
  position: fixed;
  top: 0;
  padding-bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid #187490;
  box-shadow: 1px 4px 5px #0a4556;
}

.logo .desktop {
  padding-top: .3rem;
  width: 240px;
  overflow: hidden;
}
.logo .desktop img {
  width: 100%;
  height: auto;
}
.logo .mobile {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}
nav div {
  margin: 0 30px;
  background-color: #187490;
  padding: .65rem;
  border-radius: 2.5%;
  box-shadow: 1px 4px 5px #0a4556;
}
nav div:hover {
  background-color: hsl(194, 71%, 29%);
}
nav div a {
  color: #EBEBEB;
  text-decoration: none;
}
@media screen and (max-width: 820px) {
  nav div a {
    font-size: .8rem;
  }
  nav div {
    margin: 0 .7rem;
    padding: .2rem .5rem;
    border-radius: 2.5%;
  }
}
@media screen and (max-width: 640px) {
  .logo .desktop {
    display: none;
  }
  .logo .mobile {
    display: block;
    padding-top: .3rem;
    padding-left: .3rem;
    width: 50px;
    overflow: hidden;
}
  .logo .mobile img {
    width: 100%;
    height: auto;
  }
  nav div a {
    font-size: .6rem;
  }
  nav div {
    margin: 0 .7rem;
    padding: .1rem .4rem;
    border-radius: 2.5%;
  }

}
/* Main-content: banner*/
main .banner {
  background-image: url('./images/GC-Info-Sets-202101-Block-Standard.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 335px;
}
.banner .block {
  background-color: hsl(194, 71%, 33%, 60%);
  position: relative;
  height: 100%;
}
.block .heading {
  position: relative;
  background-color: #F0F0F0;
  width: 36%;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
  margin-left: 2%;
  top: 10%;
  box-shadow: 1px 4px 5px #0a4556;
}
.heading h1 {
  font-size: 2rem;
  width: 100%;
}
.heading img {
  width: 45px;
  margin: 1.34rem 0 1.34rem .65rem;
}

@media screen and (max-width: 780px) {
  .heading h1 {
    font-size: 1.5rem;
  }
  .heading img {
    width: 27px;
    margin: 1.34rem 0 1rem .65rem;
  }
  .block .heading {
    width: 45%;
  }
}

@media screen and (max-width: 580px) {
  main .banner {
    height: 222px;
  }
  .heading h1 {
    font-size: 1.25rem;
  }
  .block .heading {
    width: 55%;
    margin-left: 4%;
  }
}

/* Main-content: content*/
.main-content {
  display: flex;
  justify-content: space-between;
}
.content {
 width: 70%;
 overflow: hidden;
 margin-right: 1rem;
}
.content img {
  width: 100%;
  height: auto;
  margin: 2rem 2rem 2rem 0;
}

.aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 1.035rem;
  margin-right: 4rem;
}
.aside .aside-item {
  display: flex;
  align-items: center;
  background-color: #FDFDFD;
  margin-top: 2rem;
  box-shadow: 1px 3px 5px #a0a5a7;
  padding: 1.25rem;
  padding-left: 1rem;
}
.aside .aside-item a {
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(194, 71%, 33%);
}
.aside-item:hover {
  background-color: #5a6e76;
}

.aside .aside-item img {
  width: 50px;
  height: 50px;
  margin-right: .6rem;
}
@media screen and (max-width: 890px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
  }
  .aside {
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content {
    width: 100%;
  }
  .aside .aside-item {
    width: 30%;
    padding: 1rem;
  }
}
@media screen and (max-width: 655px) {
  .aside .aside-item a {
    font-size: 1rem;
  }
  .aside .aside-item img {
    width: 30px;
    height: 30px;
    margin-right: .6rem;
  }
}
@media screen and (max-width: 400px) {
  .aside .aside-item a {
    font-size: .7rem;
  }
  .aside .aside-item img {
    width: 20px;
    height: 20px;
    margin-right: .6rem;
  }
  .aside .aside-item {
    padding: .5rem;
  }
}



/*Footer*/
footer {
  box-shadow: -1px -3px 3px #0a4556;
  display: flex;
  margin-top: 4rem;
  align-items: center;
  padding-left: 1.035rem;
}
footer img {
  width: 30px;
  margin-left: 1rem;
}
footer h3 {
  color: #187490;
  margin-top: .7rem;
  margin-bottom: 1.1rem;
}
@media screen and (max-width: 655px) {
  footer h3 {
    font-size: .7rem;
  }
  footer img {
    width: 20px;
  }
}
